body{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: blue;
}

header{
    border-radius: 1 px;
    background-color: rgb(240, 240, 240);
    width: 80%;
    padding: 1 rem  ;
    text-align: center;
}